.bootstrap-typeahead .dropdown-menu {
  overflow: scroll;
}
.bootstrap-typeahead .dropdown-menu > li a {
  overflow: hidden;
  text-overflow: ellipsis;
}
.bootstrap-typeahead .dropdown-menu > li a:focus {
  outline: none;
}

.bootstrap-typeahead-input-hint {
  color: #aaa;
}

.bootstrap-typeahead-menu-paginator {
  text-align: center;
}

.bootstrap-tokenizer {
  cursor: text;
  height: auto;
  padding: 5px 12px 2px 12px;
}

.bootstrap-tokenizer-input {
  margin: 1px 0 4px;
}
