.bootstrap-typeahead .dropdown-menu > li a {
  overflow: hidden;
  text-overflow: ellipsis;
}
.bootstrap-typeahead .dropdown-menu > li a:focus {
  outline: none;
}

.bootstrap-typeahead .dropdown-menu-justify {
  right: 0;
}

.bootstrap-typeahead-menu-paginator {
  text-align: center;
}

.bootstrap-tokenizer {
  padding: 5px 12px 2px 12px;
}

.bootstrap-tokenizer-input {
  margin-left: 3px;
}
