.container {
  width: 600px;
}

.example-data-source {
  font-size: 11px;
  margin-top: 5px;
}
.example-data-source,
.example-data-source a {
  color: #bbb;
}

.example-section {
  margin-top: 20px;
}
