{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "loose": true,
    }],
    "@babel/preset-flow",
    "@babel/preset-react",
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "dev-expression",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      },
      "react-overlays": {
        "transform": "react-overlays/${member}",
        "preventFullImport": true
      },
    }]
  ],
  "env": {
    "cjs": {
      "plugins": [
        "@babel/transform-runtime",
        "@babel/transform-modules-commonjs"
      ],
      "ignore": [
        "**/__tests__/*",
        "src/types.js",
      ],
    },
    "es": {
      "plugins": [
        "@babel/transform-runtime"
      ],
      "ignore": [
        "**/__tests__/*",
        "src/types.js",
      ],
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
      ],
    },
    "test": {
      "plugins": [
        "@babel/transform-runtime",
        "@babel/transform-modules-commonjs"
      ],
    },
  },
}
