{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-proposal-private-property-in-object",
    "dev-expression",
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        },
        "react-overlays": {
          "transform": "react-overlays/${member}",
          "preventFullImport": true
        }
      }
    ]
  ],
  "env": {
    "cjs": {
      "plugins": [
        "@babel/transform-runtime",
        "@babel/transform-modules-commonjs"
      ],
      "ignore": ["**/__tests__/*", "src/types.ts"]
    },
    "es": {
      "plugins": ["@babel/transform-runtime"],
      "ignore": ["**/__tests__/*", "src/types.ts"]
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    },
    "test": {
      "plugins": [
        "@babel/transform-runtime",
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
