{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "dev-expression",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      },
      "prop-types-extra": {
        "transform": "prop-types-extra/lib/${member}",
        "preventFullImport": true
      },
      "react-bootstrap": {
        "transform": "react-bootstrap/lib/${member}",
        "preventFullImport": true
      },
      "react-overlays": {
        "transform": "react-overlays/${member}",
        "preventFullImport": true
      },
      "react-popper": {
        "transform": "react-popper/lib/cjs/${member}",
        "preventFullImport": true
      },
      "reactstrap": {
        "transform": "reactstrap/lib/${member}",
        "preventFullImport": true
      }
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
      ],
    }
  },
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
}
