{
  "env": {
    "browser": true,
    "mocha": true,
  },
  "extends": [
    "airbnb",
  ],
  "globals": {},
  "parser": "babel-eslint",
  "plugins": [
    "jsx-a11y",
  ],
  "rules": {
    "arrow-parens": [2, "always"],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
    }],
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "no-underscore-dangle": [2, {
      "allowAfterThis": true
    }],
    "no-unused-vars": [2, {
      "args": "none",
      "ignoreRestSiblings": true
    }],
    "object-curly-newline": [2, {
      "consistent": true,
      "multiline": true,
    }],
    "object-curly-spacing": [2, "never"],
    "operator-linebreak": [2, "after"],
    "react/destructuring-assignment": 0,
    "react/jsx-closing-bracket-location": [2, {
      "nonEmpty": "after-props",
      "selfClosing": "tag-aligned",
    }],
    "react/jsx-wrap-multilines": [2, {
      "arrow": "parens-new-line",
      "return": "parens-new-line",
      "assignment": "ignore",
      "condition": "ignore",
      "declaration": "ignore",
      "logical": "ignore",
      "prop": "ignore"
    }],
    "react/sort-comp": [2, {
      "order": [
        "state",
        "instance-variables",
        "static-methods",
        "lifecycle",
        "render",
        "everything-else"
      ],
    }],
    "sort-keys": [2, "asc", {"caseSensitive": false, "natural": true}],

    "arrow-body-style": 0,
    "import/no-webpack-loader-syntax": 0,
    "no-return-assign": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
  },
}
