.rbt-close {
  font-size: 1rem;

  &-sm {
    font-size: 0.75rem;
  }

  &-content {
    display: none;
  }
}

.rbt-aux {
  width: 2.5rem;

  &-lg {
    width: 3rem;
  }

  & .rbt-close {
    // Overrides `margin-top: -4px` in BS4 styles
    margin-top: 0;
  }
}

.rbt .form-floating {
  flex: 1;
}

.form-floating > .rbt-input-multi {
  &:not(:placeholder-shown) ~ label {
    opacity: inherit;
    transform: inherit;
  }

  // Hide the placeholder
  .rbt-input-main::placeholder {
    color: transparent;
  }

  // Shrink the label when multi-selector is focused or there are selections.
  &.focus ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
}
